html,body{
    background-color:black ;
}



h1{
    height: 300px;
    width: 300px;
    background-color: yellow;
    color: yellow;
    border-radius: 50%;
    border: 4px solid rgb(232, 197, 197);
    margin:70px;
}

button{
    height: auto;
    width: 150px;
    margin-left: 550px;
    font-size: 50px;
    border: 4px solid red;
    border-radius: 2px;
    background-color: aliceblue;
}